<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predição de sobrevivência - Titanic</title>
</head>
<body>
    <h2>Predição de sobrevivência - Titanic</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p|safe }}
        <input type="submit" value="Enviar">
    </form>
    {% if resposta %}
    <br>
    <br>
    <h3>{{ resposta|safe }}</h3>
    <br>
    <br>
    {% endif %}
</body>
</html>